:root {
    --color-principal: #233d4d;
    --color-fondo: #fe7f2d;
    --color-texto: #e8d8c9;
    --color-blanco: #ffffff;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Playfair Display', serif; /*se cambia fuente por una de google fontd para darle un mejor diseño*/
    margin: 0%;
    padding: 0%;
}

h1 {
    color: var(--color-principal);
    font-size: 1.5rem;
    padding: 1rem;
}

main {
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem;
}

button{
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 0.5rem 1rem;
    border: none;
} 

#historial p{
    background-color:#f0f0f0; /*el color de fondo se puede cambiar a la preferencia del usuario sin necesidad de var() ya que este se usa unicamente para las variables*/
    padding: 1rem;
    margin: 0.5rem;
    
}

textarea { /*se agrega textarea para poder escribir en el, se modifica el tamaño de la caja para mejor visualización en la pagina / app*/
    width: 100%; 
    height: 150px;
    padding: 1rem; /*Para hacer limpieza en el codigo solamenete se aplica localStorage.clear() en la consola del navegador, esto eliminara todas las entradas guardadas en el localStorage, ten cuidado al usarlo ya que no se podran recuperar las entradas eliminadas.*/
}