:root {
    --primary-color: #000701;
    --secondary-color: #f0f0f0;
    --accent-color: #007bff;
    --font-family: 'Arial', sans-serif;
}

:root {
    --primary-color: #0d3d23;
    --secondary-color: #f0f0f0;
    --accent-color: #007bff;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}   
header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.hero {
    background-color: var(--accent-color);
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}
.hero-content {
    max-width: 600px;
    margin: 0 auto;
}
h1,h2,h3 {
    margin: 0 0 10px;
}
nav {
    background-color: var(--accent-color);
    padding: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

image {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}