:root {
    --color-principal: #7f77dd;
    --color-fondo: #fafafa;
    --color-texto: #2c2c2a;
    --color-blanco: #ffffff;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Arial', sans-serif;
    margin: 0%;
    padding: 0%;
}

h1 {
    color: var(--color-principal);
    font-size: 1.5rem;
    padding: 1rem;
}

main {
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem;
}

button{
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 0.5rem 1rem;
    border: none;
}